<li>
	<strong><%= object.user.email %></strong> said: <br>
	<div class='comment_<%="#{object.id}" %>' > <%= object.content %> </div>
	<div class='comment_<%="#{object.id}" %>' > <%= object.created_at.strftime("%d/%m/%Y") %> at <%= object.created_at.strftime("%H:%M") %> </div>
</li>
<!-- http://apidock.com/ruby/DateTime/strftime -->